src/main/webapp/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.webservice.demo.tdm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.webservice.demo.tdm.com" xmlns:intf="http://impl.webservice.demo.tdm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.webservice.demo.tdm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="greeting">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="greetingResponse">
    <complexType>
     <sequence>
      <element name="greetingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="greetingResponse">

      <wsdl:part element="impl:greetingResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="greetingRequest">

      <wsdl:part element="impl:greeting" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="greeting">

         <wsdl:input message="impl:greetingRequest" name="greetingRequest"/>

         <wsdl:output message="impl:greetingResponse" name="greetingResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="greeting">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="greetingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="greetingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/MavenDemo/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
